POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=atx_demo_dashboard
POSTGRES_SCHEMA=public

# Grafana configuration
GRAFANA_URL=http://localhost:3000
GRAFANA_SERVICE_ACCOUNT_TOKEN=replace_me